  <!-- <div class="large-3 columns"></div> -->
  <section class="text-center header">
    <h1>Simple todo list</h1>
    <h3>for Ruby Garage</h3>
  </section>
  <main>
    <!-- <h1>{{title}}</h1> -->
    <!-- <p>Welcome to {{title}}</p> -->
    <ng-view></ng-view>
  </main>

<!-- </div> -->

