<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <meta http-equiv="Cache-Control" content="public">
  <title>Ruby garage task manager</title>
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/normalize.min.css'>
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css'>
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css'>
  <link rel="stylesheet" href='/stylesheets/style.css'>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body ng-app="todolist">
<div class='row'>

  {{{body}}}

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/controllers/todoCtrl.js"></script>
  <script src="/javascripts/directives/directives.js"></script>
</body>
</html>