

<form action="/login" method="post" class="login">
    <div class="columns">
      <div class="large-12">
        <label>Username:</label>
        <input type="text" name="username"/>
      </div>
    </div>
    <div class="columns">
      <div class="large-12">
        <label>Password:</label>
        <input type="password" name="password"/>
      </div>
    </div>
    <div class="columns">
      <div class="large-12">
        <button type="submit" class="fi-key"></button>
      </div>
    </div>
</form>