<section class="buttons columns">
  <a href="/logout" class="button tiny alert fi-power right" title="Log out"></a>

  <button class="button fi-plus" role="button" ng-click="addList()" title="Add new list" ng-disabled="loading">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" ng-show="loading">
  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 20 20"
      to="360 20 20"
      dur="0.5s"
      repeatCount="indefinite"/>
    </path>
  </svg>
  </button>
  
  <a class="button alert fi-x" role="button" ng-click="removeLists()" ng-show="tobeRemoved.length" title="Remove all marked lists"></a>
  <a class="button success fi-refresh undo" role="button" ng-click="cancelRemove()" ng-show="tobeRemoved.length" title="Cancel"></a>
</section>
<section class="list-container medium-12 large-6 columns left" ng-repeat="list in lists">
  <div class="top-bar" ng-class="tobeRemoved.indexOf($index) > -1 ? 'alert' : ''">
    <div class="small-8 columns">
    <form ng-submit="addTask(list)">
      <input type="text" class="list-header" ng-model="list.title" placeholder="ToDo list title" ng-blur="postTitle(list)">
    </form>
    </div>
    <div class="small-4 columns right">
      <span class="fi-x small-6 right text-center" ng-click="toggleAddToRemove($index)" title="Remove current list"></span>
      <span class="fi-plus small-6 right text-center" ng-click="addTask(list)" title="Add new task"></span>
    </div>
  </div>
  <div class="columns">
    <ul class="tasks row">
      <li ng-repeat="task in list.tasks track by $index" ng-class="task.done ? 'done' : ''" ng-toggle-edit class="list-element clearfix">
        <div class="medium-8 columns">
          <p ng-click="saveTask(task, list, toggleDone(task))" ng-hide="inEditMode">{{task.todo}}</p>
          <form ng-show="inEditMode" ng-submit="saveTask(task, list, disableEditMode(this))">
            <input type="text" ng-model="task.todo">
          </form>
        </div>
        <div class="medium-4 columns">
          <a href="" class="right small-3 button tiny alert fi-x" ng-click="deleteTask(list, $index)" title="Remove current task"></a> 
          <a href="" class="right button tiny small-3 fi-pencil" ng-click="inEditMode = !inEditMode" ng-hide="inEditMode" title="Edit"></a>
          <a href="" class="right button tiny success small-3 fi-check" ng-click="saveTask(task, list, disableEditMode(this))" ng-show="inEditMode" title="Accept"></a>
          <a href="" class="right small-3 button tiny fi-arrow-up" ng-click="moveTaskUp(list.tasks, $index)" title="Move up"></a> 
          <a href="" class="right small-3 button tiny fi-arrow-down" ng-click="moveTaskDown(list.tasks, $index)" title="Move down"></a> 
        </div>
      </li>
    </ul>
  </div>

</section>
<section class="medium-12 large-6 columns left">
  <div class="alert-box alert" ng-show="serverError">Something went wrong. Why don't we all just calm down and stop pressing all these little buttons for a while?</div>
</section>