/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

body {
  background: #ddd;
}

body>.row{
  background: #f4f4f4;
  min-height: 100%;
  box-shadow: 0 0 3px 0 #999;
}

header, .header {
  margin-bottom: 2em;
}

.buttons .undo {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.list-container {
  margin-bottom: 15px;
}

.top-bar .list-header {
  background-color: #333;
  /*inherit doesn't work in IE8*/
  /*background-color: inherit;*/
  border: transparent;
  color: #fff;
}

.top-bar .list-header:hover {
  background: #555;
}

.top-bar .list-header:focus {
  color: #222;
  background: #fafafa;
}

.top-bar span[class^="fi-"] {
  color: transparent;
  cursor: pointer;
  -webkit-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

.top-bar span[class^="fi-"] {
  color: #555;
}

.top-bar span[class^="fi-"]:hover {
  color: #fff;
}

.top-bar > .columns input{
  position: relative;
  top: 0.53125rem;
}

.top-bar.alert .fi-x {
  color: #f04124!important;
}

ul.tasks {
  list-style: none;
  margin-left: 0;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}

ul.tasks > li {
  padding: 7px 0 0 0;
  cursor: pointer;
}

ul.tasks > li:hover {
}

ul.tasks .done p{
  text-decoration: line-through;
}

.tasks .list-element p {
  margin-bottom: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem;
}

.tasks .list-element input {
  font-size: 1rem;
  line-height: 1.6;
  height: auto;
}

.list-element button.tiny, .list-element .button.tiny {
  padding-right: 0;
  padding-left: 0;
}

form.login {
  margin: 20px auto 0;
  display: table;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px 0;  
}

/*Utils*/

.spacer {
  min-height: 1px;
}

button.disabled .button.disabled {
/*  background-color: #fff!important;
  border-width: 1px;*/
  /*outline: 1px solid ;*/
  color: #008CBA;
}

.button>svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

/** {
  outline: 1px solid #fecfec;
}*/